.App {
  text-align: center;
  display: flex;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    darkslategrey 0%,
    grey 100%
  );
}

.employeeCard {
  border: solid 10px black;
  min-width: 230px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: azure;
}