.listContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.languageList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: darkslategrey;
    color: white;
}